.main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // overflow: hidden;

    .content {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left {
            height: 100%;
            width: 50%;

            overflow: auto;
        }
        .hr {
            height: 100%;
            width: 4px;

            cursor: col-resize;
        }
        .right {
            height: 100%;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .footer {
        height: 16px;
        width: 100%;

        background-color: blue;
    }
}

