.holder {
    height: 100%;
    width: 100%;

    // border-width: 1px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    // border-color: red;
    // border-style: solid;
}

