.file {
    height: 32px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icon {
        margin-left: 9px;
        margin-right: 8px;
    }
}

